* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary-200: hsl(180, 50%, 8%);
    --clr-primary-400: hsl(180, 40%, 16%);

    --clr-secondary-200: hsl(330, 40%, 8%);
    --clr-secondary-400: hsl(330, 40%, 20%);
    --clr-secondary-600: hsl(330, 40%, 40%);
    --clr-secondary-900: hsl(330,50%, 90%);

    --br: 50%;
}

body {
    background-color: var(--clr-primary-400);
}

h1 {
    background-color: var(--clr-secondary-400);
    font: bold 44px Verdana;
    border-bottom: 5px solid var(--clr-secondary-200);
}

h1, h2, h3, h4, h5 {
    color: var(--clr-secondary-900);
    letter-spacing: 5px;
    word-spacing: 1rem;
    padding: 32px;
    text-align: center;
}

h2 {
    font: bold italic 32px Verdana;
    border-bottom: 5px solid var(--clr-primary-200);
}

.score {
    display: flex;
    justify-content: center;
 
}

h5{
    font: bold 28px Verdana;
    letter-spacing: 6px;
    word-spacing: 3rem;
}

h3 {
    font: bold 30px Verdana;
}

button {
    background-color: var(--clr-secondary-900);
    padding: 16px 32px;
    border-radius: var(--br);
    border: 3px solid var(--clr-secondary-600);
    box-shadow: 10px 10px 20px var(--clr-primary-200);
    font: bold 20px Verdana;
    color: hsl(180, 50%, 8%)
}

button:hover, #restart:hover {
    box-shadow: 15px 15px 40px  var(--clr-primary-200);
    background-color: var(--clr-secondary-400);
    color: var(--clr-secondary-900);
}

#rock {
    padding: 16px 44px;
}

#paper {
    padding: 16px 43px;
}

.button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#restart {
    background-color: var(--clr-secondary-600);
    padding: 12px 24px;
    border-radius: var(--br);
    border: 3px double var(--clr-secondary-900);
    box-shadow: 10px 10px 20px var(--clr-primary-200);
    font: bold 20px Verdana;
    color: var(--clr-secondary-900);
    letter-spacing: 1.5px;
}

.restart {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 5px;
}
